/* Quiz W1D3 */

/* body {
  background-color: yellow;
  color: magenta;
}
p { color: orange; }
.central, .item {
  color: green;
}
#item {
  background-color: cyan;
} */

/* QUiz W1D5 */
/* div {
  border: 1px solid black;
}
#a {
  position: relative;
  width: 1000px;
  height: 100px;
}
#b {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#c {
  position: absolute;
  right: 0;
} */




/* Midterm question css */
/* body {
  background-color: ivory;
}
#first {
  color: blue;
}
#so, .that {
  background-color: lightblue;
}
ul, .that {
  background-color: white;
}
li.this.that {
  color: red;
}
.that strong {
  background-color: pink;
}
.such > em {
  color: purple;
}
div {
  color: green;
} */
